/*----------- Efeito cascata --------------*/
/* .container-cascata{
    background-color: aqua;
}

.container-cascata {
    background-color: orange;
} */

/*----------- Especificidade --------------*/
#meu-paragrafo { 
    /* preferencia por estilizar classes */
    background-color: violet;
}

.container-especificidade p {
    background-color: chartreuse !important ; 
    /* (não é bom usar o important) */
}

p {
    background-color: lightblue;
}

