* {
    margin: 0;
}

body {
    height: 1500px;
    padding-top: 67px;
}

header {
    font-size: 24px;
    padding: 20px;
    position: fixed;
    background-color: lightblue;
    width: 100%;
    top: 0;
}