.flex {
    height: 600px;
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: center;
    /* alinha horizontalmente */
    align-items: center;
    /* alinha verticalmente */
}

.flex h2 {
    font-size: 60px;
}